<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        xmlns:th="http://www.thymeleaf.org"

        layout:decorate="template" lang="en"  data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none"  >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamstechnologies - Bootstrap Admin Template">
    <title>Employees - HRMS admin template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/material.css}">

    <link rel="stylesheet" th:href="@{/assets/css/select2.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=NDEr5OXWYDjtU4o5F3ZV3BHNX704hC2c7n8DpiP-oxXWP2CaQFSr-c98yyBdJjaFaNMrHXmV1IIVJYde9wC3-ApoyRYnT-wS6nGCsF5IMP89e2zs0Ioq7xLRMheDprr7"
            charset="UTF-8"></script>
</head>
<script type="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"></script>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">

        <div class="content container-fluid pb-0">

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title" >WELCOME</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-solid fa-cubes"></i></span>
                            <div class="dash-widget-info">
                                <h3 th:text="${totalProductCount}"></h3>
                                <span>Product</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-solid fa-dollar-sign"></i></span>
                            <div class="dash-widget-info">
                                <h3 th:text="${totalAmount}"> </h3>
                                <span>Montant total</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                    <div class="card dash-widget" sec:authorize="hasRole('ADMIN')">
                        <div class="card-body">
                            <span class="dash-widget-icon"><i class="fa-solid fa-user"></i></span>
                            <div class="dash-widget-info">
                                <h3 th:text="${totaluser}"></h3>
                                <span>Employees</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
<!--                        <div class="col-md-6 text-center">-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <h3 class="card-title">Total Revenue</h3>-->
<!--                                    <div id="bar-charts"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6 text-center">-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <h3 class="card-title">Sales Overview</h3>-->
<!--                                    <div id="line-charts"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="card-group m-b-30">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <div>-->
<!--                                        <span class="d-block">New Employees</span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span class="text-success">+10%</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <h3 class="mb-3">10</h3>-->
<!--                                <div class="progress height-five mb-2">-->
<!--                                    <div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="mb-0">Overall Employees 218</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <div>-->
<!--                                        <span class="d-block">Earnings</span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span class="text-success">+12.5%</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <h3 class="mb-3">$1,42,300</h3>-->
<!--                                <div class="progress height-five mb-2">-->
<!--                                    <div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="mb-0">Previous Month <span class="text-muted">$1,15,852</span></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <div>-->
<!--                                        <span class="d-block">Expenses</span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span class="text-danger">-2.8%</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <h3 class="mb-3">$8,500</h3>-->
<!--                                <div class="progress height-five mb-2">-->
<!--                                    <div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="mb-0">Previous Month <span class="text-muted">$7,500</span></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <div class="d-flex justify-content-between mb-3">-->
<!--                                    <div>-->
<!--                                        <span class="d-block">Profit</span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span class="text-danger">-75%</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <h3 class="mb-3">$1,12,000</h3>-->
<!--                                <div class="progress height-five mb-2">-->
<!--                                    <div class="progress-bar bg-primary w-70" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                                <p class="mb-0">Previous Month <span class="text-muted">$1,42,000</span></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->



            <div class="row">
<!--                <div class="col-md-6 d-flex">-->
<!--                    <div class="card card-table flex-fill">-->
<!--                        <div class="card-header">-->
<!--                            <h3 class="card-title mb-0">Invoices</h3>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table table-nowrap custom-table mb-0">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Invoice ID</th>-->
<!--                                        <th>Client</th>-->
<!--                                        <th>Due Date</th>-->
<!--                                        <th>Total</th>-->
<!--                                        <th>Status</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td><a href="invoice-view.html">#INV-0001</a></td>-->
<!--                                        <td>-->
<!--                                            <h2><a href="#">Global Technologies</a></h2>-->
<!--                                        </td>-->
<!--                                        <td>11 Mar 2019</td>-->
<!--                                        <td>$380</td>-->
<!--                                        <td>-->
<!--                                            <span class="badge bg-inverse-warning">Partially Paid</span>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td><a href="invoice-view.html">#INV-0002</a></td>-->
<!--                                        <td>-->
<!--                                            <h2><a href="#">Delta Infotech</a></h2>-->
<!--                                        </td>-->
<!--                                        <td>8 Feb 2019</td>-->
<!--                                        <td>$500</td>-->
<!--                                        <td>-->
<!--                                            <span class="badge bg-inverse-success">Paid</span>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td><a href="invoice-view.html">#INV-0003</a></td>-->
<!--                                        <td>-->
<!--                                            <h2><a href="#">Cream Inc</a></h2>-->
<!--                                        </td>-->
<!--                                        <td>23 Jan 2019</td>-->
<!--                                        <td>$60</td>-->
<!--                                        <td>-->
<!--                                            <span class="badge bg-inverse-danger">Unpaid</span>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-footer">-->
<!--                            <a href="invoices.html">View all invoices</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 d-flex">-->
<!--                    <div class="card card-table flex-fill">-->
<!--                        <div class="card-header">-->
<!--                            <h3 class="card-title mb-0">Payments</h3>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="table-responsive">-->
<!--                                <table class="table custom-table table-nowrap mb-0">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Invoice ID</th>-->
<!--                                        <th>Client</th>-->
<!--                                        <th>Payment Type</th>-->
<!--                                        <th>Paid Date</th>-->
<!--                                        <th>Paid Amount</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <td><a href="invoice-view.html">#INV-0001</a></td>-->
<!--                                        <td>-->
<!--                                            <h2><a href="#">Global Technologies</a></h2>-->
<!--                                        </td>-->
<!--                                        <td>Paypal</td>-->
<!--                                        <td>11 Mar 2019</td>-->
<!--                                        <td>$380</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td><a href="invoice-view.html">#INV-0002</a></td>-->
<!--                                        <td>-->
<!--                                            <h2><a href="#">Delta Infotech</a></h2>-->
<!--                                        </td>-->
<!--                                        <td>Paypal</td>-->
<!--                                        <td>8 Feb 2019</td>-->
<!--                                        <td>$500</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td><a href="invoice-view.html">#INV-0003</a></td>-->
<!--                                        <td>-->
<!--                                            <h2><a href="#">Cream Inc</a></h2>-->
<!--                                        </td>-->
<!--                                        <td>Paypal</td>-->
<!--                                        <td>23 Jan 2019</td>-->
<!--                                        <td>$60</td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-footer">-->
<!--                            <a href="payments.html">View all payments</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="row">
                <div class="col-md-6 d-flex" sec:authorize="hasRole('ADMIN')">
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h3 class="card-title mb-0">USERS</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table custom-table mb-0">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>

                                    </tr >
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${listUsers}">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#" class="avatar"><img th:src="'data:image/jpeg;base64,' + ${user.imguser}" alt="User Image"></a>
                                                <a href="#"  th:text="${user.firstname} + *{user.lastname}">Barry Cuda <span>CEO</span></a>
                                            </h2>
                                        </td>
                                        <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" th:text="${user.username}" data-cfemail="97f5f6e5e5eef4e2f3f6d7f2eff6fae7fbf2b9f4f8fa" >[email&#160;protected]</a></td>
                                        <td>
                                            <div class="dropdown action-label">
                                                <!-- Affichage du rôle de l'utilisateur -->
                                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-regular fa-circle-dot text-success"></i>
                                                    <span th:text="${user.role}"></span> <!-- Affichage du rôle de l'utilisateur -->
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-success"></i> Active</a>
                                                    <a class="dropdown-item" href="#"><i class="fa-regular fa-circle-dot text-danger"></i> Inactive</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="employees_">View all clients</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h3 class="card-title mb-0">Product</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table custom-table mb-0">
                                    <thead>
                                    <tr>
                                        <th>Product Name </th>
                                        <th>Price</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="produit:${products}">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a th:href="@{product_details(produit=${produit.id})}" class="avatar"> <img th:src="'data:image/jpeg;base64,' + ${produit.imgP}" alt="Product Image"></a>
                                                <a th:href="@{product_details(produit=${produit.id})}" th:text="${produit.name}">Richard Miles <span>Web Developer</span></a>
                                            </h2>
                                            <small class="block text-ellipsis">
                                                <span th:text="${productQuantitiesByCategory.get(produit.category.name)}">1</span>
                                                <span class="text-muted"  th:text="${produit.category.name}">open tasks, </span>

                                            </small>
                                        </td>
                                        <td>
                                            <h2><a  th:text="${produit.price}"> </a></h2>

                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/all-products">View all projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex" sec:authorize="hasRole('ADMIN')">
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h3 class="card-title mb-0">All Product</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table custom-table mb-0">
                                    <thead>
                                    <tr>
                                        <th>Product Name </th>
                                        <th>Price</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="produit:${listProduits}">
                                        <td>
                                            <h2 class="table-avatar">
                                                <a th:href="@{product_details(produit=${produit.id})}" class="avatar"> <img th:src="'data:image/jpeg;base64,' + ${produit.imgP}" alt="Product Image"></a>
                                                <a th:href="@{product_details(produit=${produit.id})}" th:text="${produit.name}">Richard Miles <span>Web Developer</span></a>
                                            </h2>
                                            <small class="block text-ellipsis">
                                                <span th:text="${productQuantitiesByCategory.get(produit.category.name)}">1</span>
                                                <span class="text-muted"  th:text="${produit.category.name}">open tasks, </span>

                                            </small>
                                        </td>
                                        <td>
                                            <h2><a  th:text="${produit.price}"> </a></h2>

                                        </td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0)"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/all-products">View all projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>