<!DOCTYPE html>
<html    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

         xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
         xmlns:th="http://www.thymeleaf.org"

         layout:decorate="template" lang="en"  data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none"  >

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamstechnologies - Bootstrap Admin Template">
    <title>Employees - HRMS admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material.css">

    <link rel="stylesheet" href="assets/css/select2.min.css">

    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
<div layout:fragment="content">
    <div class="main-wrapper">
        <div class="page-wrapper">

            <div class="content container-fluid pb-0">

                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Profile</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-view">
                                    <div class="profile-img-wrap">
                                        <div class="profile-img">
                                            <a href="#"><img th:src="'data:image/jpeg;base64,' + ${user.imguser}" alt="User Image"></a>
                                        </div>
                                    </div>
                                    <div class="profile-basic">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="profile-info-left">
                                                    <h3 class="user-name m-t-0 mb-0" th:text="${user.firstname} + *{user.lastname}">John Doe</h3>
                                                    <h6 class="text-muted">Employee ID :</h6>
                                                    <div class="staff-id" th:text="${user.carteNational}">: FT-0001</div>
                                                    <h6 class="text-muted"> Date de Creation :</h6>
                                                    <div class="small doj text-muted" th:text="${user.dateCreation}">Date of Join : 1st Jan 2013</div>
<!--                                                    <div class="staff-msg"><a class="btn btn-custom" href="chat.html">Send Message</a></div>-->
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <ul class="personal-info">
                                                    <li>
                                                        <div class="title">Phone:</div>
                                                        <div class="text"><a th:text="${user.tel}">9876543210</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Phone fixe:</div>
                                                        <div class="text"><a th:text="${user.telfixe}">9876543210</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Email:</div>
                                                        <div class="text"><a href="#" th:text="${user.username}"><span class="__cf_email__" data-cfemail="a1cbcec9cfc5cec4e1c4d9c0ccd1cdc48fc2cecc">[email&#160;protected]</span></a></div>
                                                    </li>

                                                    <li>
                                                        <div class="title">Address:</div>
                                                        <div class="text" th:text="${user.adresse}">1861 Bayonne Ave, Manchester Township, NJ, 08759</div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pro-edit"><a data-bs-target="#profile_info" data-bs-toggle="modal" class="edit-icon" href="#"><i class="fa-solid fa-pencil"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card tab-box">
                    <div class="row user-tabs">
                        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
                            <ul class="nav nav-tabs nav-tabs-bottom">
                                <li class="nav-item"><a href="#emp_profile" data-bs-toggle="tab" class="nav-link " sec:authorize="hasRole('ADMIN')">All Product</a></li>
<!--                                <li class="nav-item"><a href="#emp_projects" data-bs-toggle="tab" class="nav-link  ">Projects</a></li>-->
                                <!--                                <li class="nav-item"><a href="#bank_statutory" data-bs-toggle="tab" class="nav-link">Bank & Statutory <small class="text-danger">(Admin Only)</small></a></li>-->
                                <li class="nav-item"><a href="#emp_assets" data-bs-toggle="tab" class="nav-link " >Product</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade" id="emp_profile">
                        <div class="table-responsive table-newdatatable">
                            <table class="table table-new custom-table mb-0 datatable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Stock quantite</th>
                                    <th>Price</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody th:each="produit:${listProduits}" >
                                <tr >
                                    <td>1</td>
                                    <td>
                                        <a href="assets-details.html" class="table-imgname">
                                            <img th:src="'data:image/jpeg;base64,' + ${produit.imgP}" alt="Product Image">
                                            <span th:text="${produit.name}">Laptop</span>
                                        </a>
                                    </td>
                                    <td th:text="${produit.category.name}">AST - 001</td>
                                    <td th:text="${productQuantitiesByCategory.get(produit.category.name)}">22 Nov, 2022 10:32AM</td>
                                    <td th:text="${produit.price}" class="table-namesplit">
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="assets/img/profiles/avatar-02.jpg" class="me-2" alt="User Image">
                                        </a>
                                        <a href="javascript:void(0);" class="table-name">
                                            <span>John Paul Raj</span>
                                            <p><span class="__cf_email__" data-cfemail="23494c4b4d63475146424e44565a505746404b0d404c4e">[email&#160;protected]</span></p>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="table-actions d-flex">
                                            <a class="delete-table me-2" th:href="@{product_details(produit=${produit.id})}" >
                                                <img src="assets/img/icons/eye.svg" alt="Eye Icon">
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="emp_assets">
                        <div class="table-responsive table-newdatatable">
                            <table class="table table-new custom-table mb-0 datatable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Stock quantite</th>
                                    <th>Price</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody th:each="produit:${products}" >
                                <tr >
                                    <td>1</td>
                                    <td>
                                        <a href="assets-details.html" class="table-imgname">
                                            <img th:src="'data:image/jpeg;base64,' + ${produit.imgP}" alt="Product Image">
                                            <span th:text="${produit.name}">Laptop</span>
                                        </a>
                                    </td>
                                    <td th:text="${produit.category.name}">AST - 001</td>
                                    <td th:text="${productQuantitiesByCategory.get(produit.category.name)}">22 Nov, 2022 10:32AM</td>
                                    <td th:text="${produit.price}" class="table-namesplit">
                                        <a href="javascript:void(0);" class="table-profileimage">
                                            <img src="assets/img/profiles/avatar-02.jpg" class="me-2" alt="User Image">
                                        </a>
                                        <a href="javascript:void(0);" class="table-name">
                                            <span>John Paul Raj</span>
                                            <p><span class="__cf_email__" data-cfemail="23494c4b4d63475146424e44565a505746404b0d404c4e">[email&#160;protected]</span></p>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="table-actions d-flex">
                                            <a class="delete-table me-2" th:href="@{product_details(produit=${produit.id})}" >
                                                <img src="assets/img/icons/eye.svg" alt="Eye Icon">
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


                <div id="profile_info" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Profile Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="profile-img-wrap edit-img">
                                                <img class="inline-block" src="assets/img/profiles/avatar-02.jpg" alt="User Image">
                                                <div class="fileupload btn">
                                                    <span class="btn-text">edit</span>
                                                    <input class="upload" type="file">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">First Name</label>
                                                        <input type="text" class="form-control" value="John">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Last Name</label>
                                                        <input type="text" class="form-control" value="Doe">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Birth Date</label>
                                                        <div class="cal-icon">
                                                            <input class="form-control datetimepicker" type="text" value="05/06/1985">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Gender</label>
                                                        <select class="select form-control">
                                                            <option value="male selected">Male</option>
                                                            <option value="female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Address</label>
                                                <input type="text" class="form-control" value="4487 Snowbird Lane">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">State</label>
                                                <input type="text" class="form-control" value="New York">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Country</label>
                                                <input type="text" class="form-control" value="United States">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Pin Code</label>
                                                <input type="text" class="form-control" value="10523">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Phone Number</label>
                                                <input type="text" class="form-control" value="631-889-3206">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Department <span class="text-danger">*</span></label>
                                                <select class="select">
                                                    <option>Select Department</option>
                                                    <option>Web Development</option>
                                                    <option>IT Management</option>
                                                    <option>Marketing</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Designation <span class="text-danger">*</span></label>
                                                <select class="select">
                                                    <option>Select Designation</option>
                                                    <option>Web Designer</option>
                                                    <option>Web Developer</option>
                                                    <option>Android Developer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Reports To <span class="text-danger">*</span></label>
                                                <select class="select">
                                                    <option>-</option>
                                                    <option>Wilmer Deluna</option>
                                                    <option>Lesley Grauer</option>
                                                    <option>Jeffery Lalor</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="personal_info_modal" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Personal Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Passport No</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Passport Expiry Date</label>
                                                <div class="cal-icon">
                                                    <input class="form-control datetimepicker" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Tel</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Nationality <span class="text-danger">*</span></label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Religion</label>
                                                <div class="cal-icon">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Marital status <span class="text-danger">*</span></label>
                                                <select class="select form-control">
                                                    <option>-</option>
                                                    <option>Single</option>
                                                    <option>Married</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">Employment of spouse</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-block mb-3">
                                                <label class="col-form-label">No. of children </label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="family_info_modal" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> Family Informations</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-scroll">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Family Member <a href="javascript:void(0);" class="delete-icon"><i class="fa-regular fa-trash-can"></i></a></h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Relationship <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Date of birth <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Education Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa-regular fa-trash-can"></i></a></h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Name <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Relationship <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Date of birth <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3">
                                                            <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                                            <input class="form-control" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add-more">
                                                    <a href="javascript:void(0);"><i class="fa-solid fa-plus-circle"></i> Add More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="emergency_contact_modal" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Personal Information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">Primary Contact</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Name <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Relationship <span class="text-danger">*</span></label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Phone 2</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">Primary Contact</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Name <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Relationship <span class="text-danger">*</span></label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-block mb-3">
                                                        <label class="col-form-label">Phone 2</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="education_info" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> Education Informations</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-scroll">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Education Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa-regular fa-trash-can"></i></a></h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="Oxford University" class="form-control floating">
                                                            <label class="focus-label">Institution</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="Computer Science" class="form-control floating">
                                                            <label class="focus-label">Subject</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <div class="cal-icon">
                                                                <input type="text" value="01/06/2002" class="form-control floating datetimepicker">
                                                            </div>
                                                            <label class="focus-label">Starting Date</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <div class="cal-icon">
                                                                <input type="text" value="31/05/2006" class="form-control floating datetimepicker">
                                                            </div>
                                                            <label class="focus-label">Complete Date</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="BE Computer Science" class="form-control floating">
                                                            <label class="focus-label">Degree</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="Grade A" class="form-control floating">
                                                            <label class="focus-label">Grade</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Education Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa-regular fa-trash-can"></i></a></h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="Oxford University" class="form-control floating">
                                                            <label class="focus-label">Institution</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="Computer Science" class="form-control floating">
                                                            <label class="focus-label">Subject</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <div class="cal-icon">
                                                                <input type="text" value="01/06/2002" class="form-control floating datetimepicker">
                                                            </div>
                                                            <label class="focus-label">Starting Date</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <div class="cal-icon">
                                                                <input type="text" value="31/05/2006" class="form-control floating datetimepicker">
                                                            </div>
                                                            <label class="focus-label">Complete Date</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="BE Computer Science" class="form-control floating">
                                                            <label class="focus-label">Degree</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus focused">
                                                            <input type="text" value="Grade A" class="form-control floating">
                                                            <label class="focus-label">Grade</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add-more">
                                                    <a href="javascript:void(0);"><i class="fa-solid fa-plus-circle"></i> Add More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="experience_info" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Experience Informations</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-scroll">
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Experience Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa-regular fa-trash-can"></i></a></h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <input type="text" class="form-control floating" value="Digital Devlopment Inc">
                                                            <label class="focus-label">Company Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <input type="text" class="form-control floating" value="United States">
                                                            <label class="focus-label">Location</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <input type="text" class="form-control floating" value="Web Developer">
                                                            <label class="focus-label">Job Position</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <div class="cal-icon">
                                                                <input type="text" class="form-control floating datetimepicker" value="01/07/2007">
                                                            </div>
                                                            <label class="focus-label">Period From</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <div class="cal-icon">
                                                                <input type="text" class="form-control floating datetimepicker" value="08/06/2018">
                                                            </div>
                                                            <label class="focus-label">Period To</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h3 class="card-title">Experience Informations <a href="javascript:void(0);" class="delete-icon"><i class="fa-regular fa-trash-can"></i></a></h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <input type="text" class="form-control floating" value="Digital Devlopment Inc">
                                                            <label class="focus-label">Company Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <input type="text" class="form-control floating" value="United States">
                                                            <label class="focus-label">Location</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <input type="text" class="form-control floating" value="Web Developer">
                                                            <label class="focus-label">Job Position</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <div class="cal-icon">
                                                                <input type="text" class="form-control floating datetimepicker" value="01/07/2007">
                                                            </div>
                                                            <label class="focus-label">Period From</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-block mb-3 form-focus">
                                                            <div class="cal-icon">
                                                                <input type="text" class="form-control floating datetimepicker" value="08/06/2018">
                                                            </div>
                                                            <label class="focus-label">Period To</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add-more">
                                                    <a href="javascript:void(0);"><i class="fa-solid fa-plus-circle"></i> Add More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button class="btn btn-primary submit-btn">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
</body>

</html>